.mobileContainer {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.desktopContainer {
  width: 480px;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.ipadContainer {
  width: 744px;
  margin: 0 auto;
  height: 100vh;
  min-height: 100dvh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main::-webkit-scrollbar {
  width: 5px;
}

.main::-webkit-scrollbar-track {
  background-color: aliceblue;
}

.main::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 5px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no_scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no_scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
